html{
    height: 100%;
}

body{
    font-family:'Titillium Web',sans-serif;
    background-color: #f2f2f2;  
    height: 100%; 
    
}

.cvContainer{
    display:flex;
    margin-left: 3rem;
    margin-right: 3rem;
    flex-wrap: wrap;
}


.cvLeft{
    flex:0.3;
    padding: 10px;  
}

.cvRight{
    flex:0.7;
    padding: 10px;
    margin-right: 3rem;
    
}

/*Font style*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');