p, a{
    display:flex;
    color:inherit;
    text-decoration: none !important;
    margin: 3px;
    color: inherit;
}

a:hover{
    color:#1045F5;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


.mailIcon, .phoneIcon, .locaIcon, .linkedinIcon, .gitIcon{
    margin-right: 10px;
}

.headerContainer{
    background-color: white;
    border-radius: 5px;
    padding:30px;
    box-shadow: 4px 4px 12px #aaa;
    
}

.headerInfos{
    padding: 10px;
    border: solid #1045F5 3px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.landingInfos{
    text-align: center;
}