.navbarCv{

    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: white;

}

.navbarCv__items a{
    color: black;
}

.navbarCv__items a:hover,
.navbarCv__items a:active{
    color: #1045F5 !important;
    font-weight: bold;
}

.navbarCv_items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarCv__items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbarCv__items{
    text-decoration: none;
    color: black;
}

.navbarCv__items li{
    padding: 0 0.5rem;
}

.no-gutters{
    padding: 0 !important;
    margin: 0 !important;
}

.rowHeader{
    background-color: white;
    box-shadow: 0px 4px 12px #aaa;
}

a.selected{
    color:#1045F5 !important;
    font-weight: bold;

}

a.selected > p{
    border-bottom: 2px solid #1045F5;
}
