.navbarCv{

    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: white;

}

.navbarCv__nav{
    display: flex;
    align-items: center;
    
}

.navbarCv__items a:hover,
.navbarCv__items a:active{
    color: #1045F5;
}

.navbarCv_items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarCv__items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbarCv__items{
    text-decoration: none;
    color: black;
}

.navbarCv__items li{
    padding: 0 0.5rem;
}


.navLi{
    text-decoration: none;
}
