.profileContainer > img{
    height:300px;
    display: block;
    margin: 10px;
    border-radius: 5px;
    
}

.profileContainer > h1,h3{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.profileContainer{
    background-color: white;
    border-radius: 5px;
    padding:5px;
    box-shadow: 4px 4px 12px #aaa;
}